* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.bib text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.tex text eol=lf
*.toml text eol=lf
*.txt text eol=lf

*.npy binary
*.npz binary
*.png binary
